<div class="container">
  <div class="sudoko">
    <table>
      <thead>
        <tr>
          <th style="text-align:center">1</th>
          <th style="text-align:center">2</th>
          <th style="text-align:center">3</th>
          <th style="text-align:center">4</th>
          <th style="text-align:center">5</th>
          <th style="text-align:center">6</th>
          <th style="text-align:center">7</th>
          <th style="text-align:center">8</th>
          <th style="text-align:center">9</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of [0,1,2,3,4,5,6,7,8]">
          <td *ngFor="let column of [0,1,2,3,4,5,6,7,8]">
            <input type="number" id="{{'box' + i + '_' + j}}" name="box[]" [(ngModel)]="puzzle_array[row][column]"
              class="inputWidth" min="0" max="9" />
            <div style="width:5px;" *ngIf="row==2 || row==5 "><hr></div>
            <div class="columns" *ngIf="column==2 || column==5 "></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="butn">
    <button class="check" type="submit" (click)="save()">Check</button>
    <button class="check" type="submit" (click)="reset()">Reset</button>
  </div>
  <div class="message">
    {{message}}
  </div>
</div>